
// table{
//     box-shadow: 1px 2px 8px 0px #888686;
//     border-radius: 0.5em;
// }
// thead.thead{
//     border-radius: 1em;
// }

// button{
//     box-shadow: 1px 2px 8px 0px #62625f;
// }

.table td {
    padding: 0.5rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table th {
    padding: 0.7rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}