.main{

}

h1{
    font-family: 'Roboto';
    text-align: center;
    // margin-top: 5em;
    font-weight: bold;
}
h5{
    color: rgb(99, 124, 80);
    // color: #39C0ED;
    font-weight: bold;
    font-size: x-large;
    font-family: 'Roboto';
}
#h51{
  color: rgb(4, 84, 78);
  // background-color:  rgb(4, 84, 78);
    // font-weight: bold;
    font-weight: bold;
    font-size: x-large;
}
.card{
 border-radius: 1em;
 border-width: 1px;
 border-style: solid;
//  border-color: white;
//  background-color: silver;
// background: linear-gradient(to bottom, rgba(25, 25, 26, 0.8) 0%, rgba(0,0,0,0.6) 100%);
// background-color: rgb(99, 124, 80);
background-color: white;
transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
transform: scale(1);
-webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
text-align: center;
 

}
#cardE{
 border-radius: 1em;
 border-width: 1px;
 border-style: solid;
 border-color: silver;
//  background-color: silver;
// background: linear-gradient(to bottom, rgba(252, 252, 252, 0.8) 0%, rgba(214, 210, 210, 0.6) 100%);
background-color: white;
transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
transform: scale(1);
 
color: black;
}
.container1{

    //tamaño máximo a lo alto
    min-height: 100vh;
    //tamaño máximo a lo ancho
    max-width: 100vw;
    background-color: black ;

    background-size: cover;
    overflow: auto;
    // font-family: $openSans;
}

#btnEmpresa {
    display: block;
    margin-right: auto;
    margin-left: auto;
}


.content-login{
    // background-image: url("../../../../assets/img/ico.png");
    background-size: cover;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    // background: white;
}

.card-form-login{
    border-radius: 2em;
    overflow: hidden;
    border: 0.2em solid gray;
    text-align: center;
    align-items: center;
}

.ctn-business{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15px, 1fr));
}

.btn-secondary{
    background: gray !important;
}

.card-shops{
  cursor: pointer;
  border-radius: 1em;
  overflow: hidden;
}

.card-shops:hover{
  background-color: rgb(156, 138, 143);
  // background-color: rgb(167, 115, 55);
  color: white;
}


.sombra{
  -webkit-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
}
// .ctn-logo{
//  background-color: black;
// }

@media only screen and (max-width: 700px) {
  .ctn-logo {
    display: none;
  }
}


// ================ button Acceso plataforma ================

#btnAccessE{
  color: white;
  background-color:  rgb(4, 84, 78);
  width: 10.5em;
  font-size: 12px;
  font-weight: bold;
}
#btnAccessD{
  width: 10.5em;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color:  #04544E;
}

   .divSelect {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #tituloLogin{
  font-family: 'Pragati Narrow';
      font-size: 5em;
      color: white;
      margin-left: 2em;
    }

  .box4{
    background-color: black;
    min-height :100vh;

   
    // padding-bottom: 9.83em;
  }

  #tituloFortalezas{

    font-weight: bold;

    font-size: 1.5em;
    color: white;
    font-family: 'Pragati Narrow';  

}
  #subTituloFortalezas{

    font-weight: bold;
    text-align: center;
    font-size: 1em;
    color: white;
    font-family: 'Kalam', cursive;  

}